body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.first-image {
    float: left;
    margin: 1em 1em 1em 0;
    max-width: 300px;
}

.second-image {
    float: right;
    max-width: 300px;
    padding: 1em 0 1em 1em;
}